@import "_variables";
@import "_utils";

.level {

    canvas {
        width: 640px;
        height: 480px;
        transition: filter 300ms ease-out;
    }

    .top-bar {
        position: relative;
        @include clearfix();

        .stat {
            font-size: 25px;

            // First child on the left
            &:first-child {
                float: left;
                margin-left: 25px;
            }

            // Second child on the right
            &:last-child {
                float: right;
                margin-right: 25px;
            }

            & > * {
                vertical-align: middle;
            }

            div {
                font-weight: bold;
            }
        }
    }
}

.blurred {
    filter: blur(5px);
}

.modal-container {
    position: relative;
}

.modal {
    top: 50%;
    left: 50%;
    position: absolute;

    & > div {
        transform: translate(-50%, -50%);
        animation: modal-entrance 300ms 0ms ease-out forwards;
    }
}

@keyframes modal-entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}