@import "_variables";
@import "_utils";

.level {

    canvas {
        width: 640px;
        height: 480px;
    }

    .top-bar {
        position: relative;
        @include clearfix();

        .stat {
            font-size: 25px;

            &:first-child {
                float: left;
                margin-left: 25px;
            }

            &:last-child {
                float: right;
                margin-right: 25px;
            }

            & > * {
                vertical-align: middle;
            }

            div {
                font-weight: bold;
            }
        }
    }
}

.modal-container {
    position: relative;
}

.modal {
    top: 50%;
    left: 50%;
    position: absolute;

    & > div {
        top: -50%;
        left: -50%;
        position: relative;
    }
}