@import "_variables";

.title-letter {
    fill: $background-color;
    stroke: #000;
    stroke-width: 3px;
    stroke-dasharray: 300;
    animation:
        title-letter-entrance 2s 0s ease-out forwards,
        title-letter-fill 0.5s 4.5s linear forwards;
}

.title-block {
    fill: $accent-color;
    stroke: #000;
    stroke-width: 3px;
    transform: scale(0);
    transform-origin: 50% 50%;
    animation:
        title-block-entrance 1.5s 3s linear forwards,
        title-block-rotation 4s 4.5s linear infinite;
}

.title-group1 {
    animation: title-group1-displacement 0.2s 4.4s ease-out forwards;
}

.title-group2 {
    animation: title-group2-displacement 0.2s 4.4s ease-out forwards;
}

.title-logo {
    animation: title-logo-slideup 2s 6s ease-out forwards;
}

.title-play-path {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 370;
    stroke-dashoffset: 370;
    animation: title-play-entrance 2.5s 6s ease-out forwards;
}

.title-play-button {
    transform: scale(1);
    transform-origin: 50% 50%;
    cursor: pointer;
    animation: title-play-button-pulse 3s 9s linear infinite;
}

@keyframes title-letter-entrance {
    0% {
        stroke-dashoffset: 300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes title-letter-fill {
    0% {
        fill: $background-color;
    }
    100% {
        fill: $main-color;
    }
}

@keyframes title-block-entrance {
    0% {
        transform: scale(0) translate(-350px, -200px) rotate(0deg);
    }
    100% {
        transform: scale(1) translate(0px, 0px) rotate(720deg);
    }
}

@keyframes title-block-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes title-group1-displacement {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes title-group2-displacement {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    100% {
        transform: rotate(-10deg) translate(0px, 80px);
    }
}

@keyframes title-play-entrance {
    0% {
        stroke-dashoffset: 370;
        stroke-opacity: 0;
        fill-opacity: 0;
        transform: translate(0px, 50px);
    }
    75% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill-opacity: 0;
        transform: translate(0px, 0px);
    }
    100% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill-opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes title-logo-slideup {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -100px);
    }
}

@keyframes title-play-button-pulse {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.1);
    }
    55% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}