@import "_variables";

body {
    background-color: $background-color;
    font-family: $font-family;
}

* {
    user-select: none;
}

:global(#game-area) {
    display: block;
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}