@import "_variables";

body {
    background-color: $background-color;
    font-family: $font-family;
    color: $text-color;
    cursor: default;
}

* {
    user-select: none;
    cursor: inherit;
}

:global(#game-area) {
    display: block;
    width: 640px;
    margin: 0 auto;
    //overflow: hidden;
}

:global(.btn) {
    display: inline-block;
    padding: 4px 12px;
    margin: 0;
    font-size: $text-size;
    line-height: $text-size * 1.3;
    color: $text-color;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    transition: background-position 0.1s linear;

    &:hover {
        background-color: #e6e6e6;
        background-position: 0 -15px;
    }

    &:active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    &:focus {
        outline: 0;
    }

    &:disabled,
    &:global(.disabled) {
        cursor: default;
        background-image: none;
        opacity: 0.65;
        box-shadow: none;
    }
}